 <style>
          .div-block-12 {
          flex-direction: row-reverse;
          }
          .div-block-12 .text-block-9 {
          padding-left: 15px;
          }
          .emoji {
          display: inline-block;
          width: 1em;
          height: 1em;
          }
          .div-block-6:nth-child(2n) {
          background-color: #888;
          color:blue;
          }
          .div-block-6 :nth-child(2n) .text-block-5 {
          color:blue;
          }
          
          .calc-input {
          text-align: center;
          width: 100px;
          }
          .calc-result {
           color: green;
          }
          
          
          </style>