.calc-input{
    text-align: center;
    width: 70px;
    border: none;
    border-bottom: 2px solid blueviolet;
    font-size: 18px;
    
}

.calc-calculate{
    background-color:aqua;
    border: 4px solid transparent;
    padding: 0 10px;
    font-size: 20px;
}
.calc-op{
    background-color: aqua;
    border: 2px solid transparent;
    font-size: 20px;
    padding: 0 2px;
}

