.calc-input{
    text-align: center;
    width: 70px;
    border: none;
    border-bottom: 2px solid blueviolet;
    font-size: 18px;
    
}

.calc-calculate{
    background-color:aqua;
    
    padding: 0 10px;
    font-size: 20px;
}
.calc-plus{
    font-size: 20px;
}