.num1, .num2, .calc_calc{
    width: 70px;
    height: 40px;
    background-color: rgb(206, 212, 212);
    text-align: center;
    border-radius: 10px;
}
.num1:hover, .num2:hover, .calc_calc:hover{
    width: 70px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
}
.calc_result{
    width: 70px;
    height: 18px
    top: -39px;
    left: 250px
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 212, 212);
    border-radius: 10px;
    
   
}
.calc_result:hover{
    top: -39px;
    left: 250px
    
    width: 70px;
    height: 18px
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(204, 200, 200);
    
   }