@import "compass/css3";
@import "compass";
@import url("https://fonts.googleapis.com/css?family=Lato");

body {
	font-family: Lato, Arial;
	color: #fff;
	padding: 20px;
	background-color: #e74c3c;
}

h1 {
	font-weight: normal;
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
}

h1 span {
	font-size: 13px;
	display: block;
	padding-left: 4px;
}

p {
	margin-top: 200px;
}

p a {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding: 5px 10px;
	margin: 0 5px;
	background-color: #b83729;
}

p a:hover {
	background-color: #ab3326;
}

.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: #fff;
	width: 220px;
	height: 40px;
}

.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #c0392b;
	padding: 8px 15px;
	transition: all 0.2s ease-in;
}

.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #fff transparent transparent transparent;
	position: absolute;
	top: 16px;
	right: 10px;
}

.select-styled:hover {
	background-color: #b83729;
}

.select-styled:active,
.select-styled.active {
	background-color: #ab3326;
}

.select-styled:active:after,
.select-styled.active:after {
	top: 9px;
	border-color: transparent transparent #fff transparent;
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #ab3326;
}

.select-options li {
	margin: 0;
	padding: 12px 0;
	text-indent: 15px;
	border-top: 1px solid #962d22;
	transition: all 0.15s ease-in;
}

.select-options li:hover,
.select-options li.is-selected {
	color: #c0392b;
	background: #fff;
}

.select-options li[rel="hide"] {
	display: none;
}